header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
body {
  font-family: sans-serif;
}
.navbar {
  background-color: #555454;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 44px;
}
.nav-button {
  align-items: center;
  display: flex;
  gap: 20px;
  padding-left: 25px;
}
.nav-button .Login {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: white;
  border: 1px solid;
  border-radius: 8px;
  transition: 0.5s;
}
.nav-button .SignUp {
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  padding-left: 32px;
  padding-right: 32px;
  background-color: white;
  border: 1px solid;
  border-radius: 8px;
  transition: 0.5s;
}
.nav-button .Login:hover {
  background-color: rgb(31, 27, 27);
}
.nav-button a {
  color: black;
  font-size: 16px;
}
.nav-button .Login:hover a {
  font-size: 16px;
  color: aliceblue;
}
a {
  text-decoration: none;
}
.nav-button .SignUp:hover {
  background-color: #f72585;
  border: #f72585;
}
.nav-button .SignUp:hover a {
  font-size: 16px;
  color: aliceblue;
}
.nav-text {
  font-size: 16px;
  line-height: 32px;
  padding-left: 31px;
  color: #1c3554;
  cursor: pointer;
}
.nav-cartigoria {
  padding-left: 40px;
}
.nav-cartigoria select {
  border: none;
}
.nav-logo {
  padding-right: 24px;
}
.navbar {
  padding-top: 36px;
}
.account {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
  padding-top: 40px;
  padding-bottom: 64px;
}
.account-text1 {
  font-weight: 700;
  font-size: 32px;
  color: #1c3554;
}
.account-text2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: -12px;
  color: #808080;
}
.main-button {
  display: flex;
  justify-content: center;
  gap: 200px;
}
a {
  text-decoration: none;
}
.main-button a {
  font-weight: 400;
  font-size: 32px;
  transition: 0.3s;
  line-height: 48px;
  padding-bottom: 56px;
  color: #808080;
  border-bottom: 3px solid white;
}
.main-button a:hover {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  border-bottom: 3px solid#f72585;
  color: #1c3554;
}
.card:hover {
  box-shadow: 10px 10px 5px lightgray;
}

.card img {
  padding-left: 16px;
  margin-top: 16px;
}
.courses-button1 button {
  padding-top: 4px;
  padding-bottom: 4px;
  background: #4586d6;
  border-radius: 8px;
  border: #4586d6;
  padding-left: 24px;
  padding-right: 24px;
}
.courses-button1 {
  text-align: center;
  margin-top: -25px;
  margin-bottom: 16px;
}
.courses-button1 p {
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
}
.courses-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
  color: #1c3554;
}
.courses-text-1 {
  font-size: 12px;
  line-height: 24px;
  padding-left: 16px;
  color: #f72585;
}
.courses-reyting {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 8px;
}
.courses-reyting .number {
  font-size: 14px;
  line-height: 24px;
  color: #808080;
}
.courses-sena {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 8px;
}
.courses-sale {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #cccccc;
}
.courses-sena-1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #1c3554;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.card {
  transition: 0.5s;
}
.cards {
  padding-top: 40px;
}
ul li {
  list-style: none;
}
footer {
  padding-top: 160px;
}
.footer-menu {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 80px;
  background-color: #021934;
  border-radius: 8px;
}
.logotext {
  width: 500px;
  height: 81px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
}
.logo2 {
  padding-bottom: 32px;
}
.footer2 ul li:nth-child(1),
.footer3 ul li:nth-child(1),
.footer4 ul li:nth-child(1) {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.footer2,
.footer3,
.footer4,
a {
  color: #ffffff;
}
.footer2,
.footer3,
.footer4,
li {
  padding-bottom: 8px;
}
.footer2 ul li:nth-child(5) {
  padding-bottom: 80px;
}

.home {
  font-size: 16px;
  line-height: 32px;
  color: #e6e6e6;
  padding-bottom: 64px;
  padding-top: 60px;
}
.blogg {
  font-weight: 700;
  font-size: 64px;
  line-height: 88px;
  padding-bottom: 120px;
  color: #ffffff;
}
.menyu-1 {
  background-color: #555454;
  margin-top: -20px;
  padding-left: 104px;
}
